<html>
      <head>
        <title>Home</title>
      </head>
      <body>
        <nav>
          <a href="/">Home</a>
          <a href="/weather">Check Weather</a>
        </nav>
        <h1> alaa </h1>
            
            
      </body>
    </html>